<section class="subcategories-header">
  <div class="subhead">
    <div class="left-content">
      <%= link_to raw('<i class="fa-solid fa-arrow-left"></i>'), root_path, class: "btn" %>
    </div>
    <div class="center-content">
      <h1><%= @category.name %></h1>
    </div>
  </div>
    <div class="right-content">
      <%= link_to "Create subcategory", new_category_subcategory_path(@category), class: "btn btn-dark" %>
    </div>
</section>

<section class="subcategories-photos">
  <% @subcategories.each do |subcategory| %>
    <div class="subcategory">
      <div class="subinfos">
        <h2><%= subcategory.name %></h2>
        <h3><%= subcategory.description %></h3>
      </div>
      <div class="subparams">
        <%= link_to raw('<i class="fa-regular fa-pen-to-square"></i>'), edit_category_subcategory_path(@category, subcategory), class: 'btn btn-icon' %>
        <%= link_to raw('<i class="fa-solid fa-trash"></i>'), category_subcategories_path(@category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-icon' %>
      </div>
     <div class="subphotosgrid">
  <div class="row">
    <% subcategory.photos.each do |photo| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill %>
      </div>
    <% end %>
  </div>
</div>
    </div>
  <% end %>
</section>
