<div class="d-flex mt-5">
      <h2><%= link_to "<",  root_path, class:"link" %></h2>
      <h1><%= @category.name %></h1>
      <%= link_to 'Edit', edit_category_path(@category) %>
      <%= link_to 'Delete', root_path, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
<h2 class="mb-4"><%= link_to "Create subcategory", new_category_subcategory_path(@category), class: "btn btn-dark ms-3 " %></h2>



<div class="cards-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">

<% @subcategories.each do |subcategory| %>
  <h2><%= subcategory.name %></h2>
  <h3><%= subcategory.description %></h3>
  <div>
    <%= link_to 'Edit', edit_category_subcategory_path(@category, subcategory) %>
    <%= link_to 'Delete', category_subcategories_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% subcategory.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

</div>
